@font-face
{
    font-family: 'Preahvihear';
    src:url('Preahvihear-Regular.ttf')
}

@font-face
{
    font-family: 'Pacifico';
    src:url('Pacifico-Regular.ttf')
}

@font-face
{
    font-family: 'ArchivoBlack';
    src: url('ArchivoBlack-Regular.ttf');
}

@font-face
{
    font-family: 'BalsamiqSans';
    src: url('BalsamiqSans-Regular.ttf');
}

.custom-bg
{
    background-image: url(Stock\ img\ Rainbow\ background.jpg);
    background-size: cover;
}

input
{
    font-size: 24px;
}

.sign-in-box
{
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 39%;
} 

#email, #password
{
    border: 2px solid #000;
    font-family: Preahvihear;
    font-size: 18px;
    padding: 3px;
    
}

.sign-in
{
    font-family: Pacifico;
    text-align: center;
    font-size: 125px;
    position: relative;
    top: 100px;
}

.div-for-sign-in-all
{
    background-color: white;
}

.Title
{
    font-family: ArchivoBlack;
    font-size: 50px;
    text-align: center;
}

.info
{
    font-size: 24;
    background-color: #FFFFF0;
    text-align: left;
    
}

.Top-div-info-page
{
    background-image: url("Calulator-Image.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Preahvihear';
    font-size: 30px;
    text-align: left;
    height: 100px;
    width: 100%;

}

.info-div
{
    background-image: url("Light-Rainbow-Gradient.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Preahvihear';
    font-size: 30px;
    text-align: center;
    margin-top: 50%;
    height: 100px;
    width: 100%;
    
}
.main-intro-page-body
{
    background-image: url("Rainbow-Paint-Spill.jpg");
    background-size: cover;
}

.link
{
    margin: "50%";
    display: inline;
    padding: 40px;
}

.slogan
{
    /*background: linear-gradient(red, rgb(0, 225, 255) 50%, rgb(197, 7, 255));*/
    font-family: 'BalsamiqSans';
    font-size: 20;


}